In [1]:
jobs = {1 : {1: "OLA",    2: "UBER",      3: "Personal Driver", 4: "Driver"},
        2 : {1: "Zomato", 2: "Swiggy",    3: "Burger King",     4: "Domino's Pizza"},
        3 : {1: "Oyo",    2: "Taj Hotel", 3: "Personal House",  4: "Other Hotels"},
        4 : {1: "Zomato", 2: "Swiggy",    3: "Burger King",     4: "Domino's Pizza"},
        5 : {1: "Tata",   2: "Reliance",  3: "Mall",            4: "Tata"}}

salary = {1 : "5k  - 8k",
          2 : "8k  - 10k",
          3 : "10k - 12k",
          4 : "12k - 15k",
          5 : "15k - 20k"}

In [6]:
print("Hello welcome to AWESOME JOBS")
print("We will together find a better job for you.\n")

print("\n------------------------")
name =    input('Q1: Tell me, what is your full name?\n')
city =    input('Q2: Which city are you from? \n')
gender =  input("Q3: Great. What's your gender? \nMale or Female \n")
age =     input("Q4: How old are you? \n")
print("------------------------")

print('''\nThis is exciting.
I already have found more than 300 jobs that you might like.''')

print("\n\nWhat kind of jobs do you like?\n1: Driver\n2: Cook\n3: Maid\n4: Delivery Person\n5: Repair Person\n")
num = int(input('Press any of the following number: '))

print("\nJob Options:")
print("\n",jobs[num])

jj = int(input("\nSelect the Job you like\nEnter the following no. Respectively: "))
print("------------------------")
for i in salary.keys():
    print(i, ":" ,salary[i])
print("------------------------")

sal = int(input('Enter Your Salary Expectation\nPress any of the following number:'))

Hello welcome to AWESOME JOBS
We will together find a better job for you.


------------------------
Q1: Tell me, what is your full name?
Simran Rajput
Q2: Which city are you from?
Delhi
Q3: Great. What's your gender?
Male or Female
Female
Q4: How old are you?
23
------------------------

This is exciting.
I already have found more than 300 jobs that you might like.


What kind of jobs do you like?
1: Driver
2: Cook
3: Maid
4: Delivery Person
5: Repair Person

Press any of the following number: 1

Job Options:

 {1: 'OLA', 2: 'UBER', 3: 'Personal Driver', 4: 'Driver'}

Select the Job you like
Enter the following no. Respectively: 1
------------------------
1 : 5k  - 8k
2 : 8k  - 10k
3 : 10k - 12k
4 : 12k - 15k
5 : 15k - 20k
------------------------
Enter Your Salary Expectation
Press any of the following number:1

In [7]:
print("----------------User Details---------------")

print("Name                 : ",name)
print("Age                  : ",age)
print("Gender               : ",gender)
print("City                 : ",city)
print("Job Role             : ",jobs[num][jj])
print("Salary Expectations  : ",salary[sal])
print("--------------------------------------------")

----------------User Details---------------
Name                 :  Simran Rajput
Age                  :  23
Gender               :  Female
City                 :  Delhi
Job Role             :  OLA
Salary Expectations  :  5k  - 8k
--------------------------------------------

In [8]:
record = "Name = " + name + " , " + "Age = " + age + " , " + "Gender = " + gender + " , " + "City = " + city + " , " + "Job Role = " + jobs[num][jj] + " , " + "Salary Expections = " + salary[sal]

In [9]:
fd = open('Sales.txt', 'a')

fd.write(record + "\n")

fd.close()